@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'Lexend';
	src: local('Lexend'), url('./assets/fonts/lexend/lexend.woff2') format('woff2');
}

@layer base {
	html {
		font-family: "Lexend", system-ui, sans-serif;
	}
}
